@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.container {
  max-width: 1204px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
html {
  background: black;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.lang-select .ant-select-selector {
  background-color: black !important;
  color: white;
  border-radius: 9999px;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
