#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  display: flex;
  justify-content: end;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 700px;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 20px;
}
.swiper::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Edge */
}

.mySwiper {
  overflow: auto;
  height: 10%;
  width: 60%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 50%;
  height: 50%;
  border-radius: 10px;

  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
